@font-face {
    font-family: 'ibm-plex';
    src: url(Resources/Fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'ibm-plex', serif;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li:hover {
    background-color: white;
    color: black;
}

a {
    display: block; 
    text-decoration: none;
    color: inherit;
}


body {
    /* background-image: url("Resources/images/paper-background.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: black;
}

.main-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .5fr;
    grid-template-rows: 220px 1fr .5fr;
    gap: 20px;
}

.body-overlay {
    position: relative;
    z-index: 2;
    color: black;
    opacity: 50%;
}

li, h1, p, label{
    color: white;
}

/* Get Lost text adventure section coming soon */

.coming-soon {
    font-size: 20px;
}

.main-title {
    grid-column: 1 / 5;
    position: sticky;
    top: 0;
    background-color: black;
    height: 220px;
}

.main-title-name {
    font-size: 125px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-title p {
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 50px;
}

.nav {
    grid-row: 2 / 4;
    min-width: 280px;
    position: sticky;
    top: 353.5px;
}

.nav li {
    margin: 0;
    padding: 20px 10px;
    font-size: 40px;
    border-bottom: 1px solid white;
}

/* .nav ul li a {
    display: block;
} */

.nav li:first-child {
    padding-top: 0;
}

.nav li:last-child {
    border-bottom: none;
    margin-top: 30px;
}

.social-icons:hover {
    background-color: inherit;
    color: inherit;
}

.social-icons {
    text-align: center;
}

.social-icons img{
    height: 50px;
    width: 50px;
    margin: 0 10px;
}

.bio-and-photo {
    min-width: 800px;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-row: 2;
    grid-column: 2 /4;

}


.photo-container {
    grid-column: 2;
    width: 100%;
    height: 500px;
}

.photo-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.bio-container {
    grid-row: 1;
    grid-column: 1;
    min-width: 300px;
}


.newsletter {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    
}


/* Making Good Reads look a little better with a white border */

.goodReads {
    border: 1px solid white;
}



/* event.html section sytling */

/* .event-flyer-container {
    margin: 0 auto;
} */
.event-flyers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    grid-row: 2/4;
    grid-column: 2/4;

}

.event-flyer-container {
    height: 500px;
    width: 500px;
}


.flyer {
    object-fit: contain;


}


/* Read Free section styling */

.read-free-section {
    grid-row: 2 / 4;
    grid-column: 2 /4;
}

.published-work-card {
    color: white;
    text-align: center;
    position: relative;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.published-work-card a {
    display: inline;
}

.published-work-card:first-child {
    padding-top: 50px;
}

.published-work-card:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%);
    width: 50%;
    height: 2px;
    background-color: white;
}

/* Books Section Styling */

.books-card-section {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    grid-row: 2 / 4;
    grid-column: 2 /4;
    z-index: -1;
}

.book-card {
    width: 250px;
    /* height: 100%; */
    position: relative;
    z-index: 2;
}

.book-card img {
    width: 250px;
    height: 250px;
    border-radius: 10%;
}

.cart-button {
    background-color: white;
    height: 50px;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 5px;
    width: 75%;
    border: 1px solid black;
    border-radius: 25px;
    z-index: 1;
}

.cart-button p {
    color: black;
}

.book-title {
    margin-top: 30px;
}

.book-category {
    font-style: italic;
    font-size: .7rem;
}