@font-face {
    font-family: 'ibm-plex';
    src: url(Resources/Fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'ibm-plex', serif;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li:hover {
    background-color: white;
    color: black;
}

li a {
    display: inline;
}

a {
    display: block; 
    text-decoration: none;
    color: inherit;
}

h2 {
    color: white;
}

body {
    background-color: black;
}

.main-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .5fr;
    grid-template-rows: 220px 1fr .5fr;
    grid-template-areas:
        "title title title title"
        "nav bio bio blank"
        "nav news news news";
    gap: 20px;
}

.body-overlay {
    position: relative;
    z-index: 2;
    color: black;
    opacity: 50%;
}

li, h1, p, label{
    color: white;
}

/* Get Lost text adventure section coming soon */

.coming-soon {
    font-size: 20px;
}

.main-title {
    /* grid-column: 1 / 5; */
    grid-area: title;
    position: sticky;
    top: 0;
    background-color: black;
    height: 220px;
    z-index: 100;
}

.main-title-name {
    font-size: 125px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-title p {
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 50px;
}

.nav {
    /* grid-row: 2 / 3; */
    grid-area: nav;
    min-width: 280px;
    position: sticky;
    top: 280px;
}

.nav li {

    margin: 0;
    padding: 20px 10px;
    font-size: 40px;
    border-bottom: 1px solid white;
}

.nav li:last-child {
    border-bottom: none;
    margin-top: 30px;
}

.social-icons:hover {
    background-color: inherit;
    color: inherit;
}

.social-icons {
    text-align: center;
}

.social-icons img{
    height: 50px;
    width: 50px;
    margin: 0 10px;
}

.bio-and-photo {
    margin-top: 30px;
    min-width: 800px;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
     "written image";
    /* grid-row: 2;
    grid-column: 2 /4; */
    grid-area: bio;

}


.photo-container {
    /* grid-column: 2; */
    grid-area: image;
    width: 100%;
    height: 500px;
}

.photo-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.bio-container {
    /* grid-row: 1;
    grid-column: 1; */
    grid-area: written;
    min-width: 300px;
}


.newsletter {
    /* grid-row: 3 / 4;
    grid-column: 2 / 4; */
    grid-area: news;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    
}


/* Making Good Reads look a little better with a white border */

.goodReads {
    border: 1px solid white;
}



/* event.html section sytling */

.event-flyers-container {
    grid-area: bio;
    /* grid-row: 2/4;
    grid-column: 2/4; */

}

.event-card {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: .5fr 1fr;
    grid-template-areas:
    "one two"
    "three four";
    margin:10px;
    min-width: 1000px;
    max-width: 1000px;
    position: relative;
    z-index: 1;
    padding-bottom: 20px;
    padding-top: 20px;
}

.flyer-image-conatiner {
    grid-column: 1/2;
    grid-row: 1 / 3;
    height: 350px;
    width: 450px;
}



.flyer {
    height: 100%;
    width: 100%;
    object-fit: scale-down;


}

.event-details .book{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 0;
}

.event-description {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 2rem;
}

/* Line under each card. */

.event-card:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%);
    width: 50%;
    height: 2px;
    background-color: white;
}

/* Image right card */

.flyer-image-conatiner-right {
    grid-column: 2/3;
    grid-row: 1 / 3;
    height: 350px;
    width: 450px;
}



.event-details-right{
    grid-column: 1/2;
    grid-row: 1/2;
}

.event-description-right{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 2rem;
}




/* Read Free section styling */

.read-free-section {
    /* grid-row: 2 / 4;
    grid-column: 2 /4; */
    grid-area: bio;
    z-index: 1;
}

.published-work-card {
    color: white;
    text-align: center;
    position: relative;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.published-work-card a {
    display: inline;
    pointer-events: auto;
}

.published-work-card:first-child {
    padding-top: 50px;
}

.published-work-card:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%);
    width: 50%;
    height: 2px;
    background-color: white;
}



 .book-card {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: .5fr;
    margin:10px;
    min-width: 1000px;
    max-width: 1000px;
    position: relative;
    z-index: 1;
    padding-bottom: 20px;
    padding-top: 20px;
}

.book-image-conatiner {
    grid-column: 1/2;
    grid-row: 1 / 3;
    height: 350px;
    width: 450px;
}



.book-image {
    height: 100%;
    width: 100%;
    object-fit: scale-down;


}

.book-details {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 0;
}

.book-description {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 2rem;
}

.buy-on-amazon-button {
    background-color: white;
    height: 25px;
    width: 170px;
    border-radius: 5px;
}

.buy-on-amazon-button p {
    text-align: center;
    color: black;
    padding: 2px;
}


/* Line under each card. */

.book-card:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%);
    width: 50%;
    height: 2px;
    background-color: white;
}



/* Media Queries Responsive */

@media (max-width: 700px) {
    .main-body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "title"
            "nav" 
            "bio"
            "news";
        gap: 10px;
    }

    .bio-and-photo {
        margin-top: 0px;
        min-width: 300px;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-areas:
         "image" 
         "written";
        /* grid-row: 2;
        grid-column: 2 /4; */
        grid-area: bio;
    
    }

    .nav {
        /* grid-row: 2 / 3; */
        grid-area: nav;
        min-width: auto;
        position: static;
        top: auto;
    }

    .nav li {
        text-align: center;
    }

    .main-title {
        /* grid-column: 1 / 5; */
        grid-area: title;
        position: static;
        top: auto;
        background-color: black;
        /* height: 100%;
        width: 100%; */
        z-index: 100;
    }

    .main-title-name {
        font-size: 10vw;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    
    .main-title p {
        text-align: center;
        font-size: 5vw;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .event-card {
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: 1fr;
        grid-template-areas:
        "image"
        "details"
        "description";
        margin:auto;
        min-width: 450px;
        justify-content: center;
        max-width: auto;
        position: auto;
        z-index: 1;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    .flyer-image-conatiner {
        grid-area: image;
        grid-column: auto;
        grid-row: auto;
        height: 350px;
        width: 450px;
    }
    
    
    
    .flyer {
        height: 100%;
        width: 100%;
        object-fit: scale-down;
    
    
    }
    
    .event-details {
        grid-area: details;
        grid-column: auto;
        grid-row: auto;
        margin-left: 0px;
    }
    
    .event-description {
        grid-area: description;
        grid-column: auto;
        grid-row: auto;
        margin-top: 2rem;
    }
    
    /* Line under each card. */
    
    .event-card:not(:last-child)::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -5px;
        transform: translate(-50%);
        width: 50%;
        height: 2px;
        background-color: white;
    }
    
    /* Image right card */
    
    .flyer-image-conatiner-right {
        grid-area: image;
        grid-column: auto;
        grid-row: auto;
        height: 350px;
        width: 450px;
    }
    
    
    
    .event-details-right{
        grid-area: details;
        grid-column: auto;
        grid-row: auto;
        margin-left: 0;
    }
    
    .event-description-right{
        grid-area: description;
        grid-column: auto;
        grid-row: auto;
        margin-top: 2rem;
    }

    .book-card {
        /* display: grid;
        grid-template-columns: 400px 1fr;
        grid-template-rows: .5fr;
        margin:10px;
        min-width: 450px;
        max-width: auto;
        position: auto;
        z-index: 1;
        padding-bottom: 20px;
        padding-top: 20px; */
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: 1fr;
        grid-template-areas:
        "book-image"
        "book-details"
        "book-description";
        margin:auto;
        min-width: 450px;
        justify-content: center;
        max-width: auto;
        position: auto;
        z-index: 1;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    .book-image-conatiner {
        grid-area: book-image;
        grid-column: auto;
        grid-row: auto;
        height: 350px;
        width: 450px;
    }
    
    
    
    .book-image {
        height: 100%;
        width: 100%;
        object-fit: scale-down;
    
    
    }
    
    .book-details {
        grid-area: book-details;
        grid-column: auto;
        grid-row: auto;
        margin-left: 0;
    }
    
    .book-description {
        grid-area: book-description;
        grid-column: auto;
        grid-row: auto;
        margin-top: 2rem;
    }
    
    .buy-on-amazon-button {
        background-color: white;
        height: 25px;
        width: 170px;
        border-radius: 5px;
    }
    
    .buy-on-amazon-button p {
        text-align: center;
        color: black;
        padding: 2px;
    }
    
    
    /* Line under each card. */
    
    .book-card:not(:last-child)::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -5px;
        transform: translate(-50%);
        width: 50%;
        height: 2px;
        background-color: white;
    }
    
    
    
}